*{
    all:unset
}

@import ".config/wofi/colors-waybar.css";
#window {
    opacity: 0.9;
    border:  0px;
    border-radius: 10px;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 18px;
}

#input {
    border-radius: 10px 10px 0px 0px;
    border:  0px;
    padding: 10px;
    margin: 0px;
    font-size: 28px;
    color: @color4;
    background-color: @color0;
}

#inner-box {
	margin: 0px;
	color: #ffffff;
	background-color: @color0;
}

#outer-box {
        margin: 0px;
	background-color: @color0;
       	border-radius: 10px;
}

#selected {
	background-color: @color0;
}

#entry {
	padding: 0px;
	margin: 0px;
}

#scroll {
	margin: 5px;
	background-color: @color0;
}

#text {
	margin: 0px;
	padding: 2px 2px 2px 10px;
}

#text:selected {
	color: @color4;
}

#img {
	background-color: @color0;
}
